.footer {
  background-color: #000;
  color: #fff;
  padding: 5rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.footer-logo {
  font-size: 2rem;
  letter-spacing: 0.4em;
  font-weight: 700;
  margin-bottom: 4rem;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  width: 100%;
  gap: 3rem;
  text-align: left;
  margin-bottom: 3rem;
}

.footer-column h4 {
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  margin-bottom: 1.5rem;
  color: #bfbfbf;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 0.7rem;
}

.footer-column ul li a {
  color: #ffffff;
  font-size: 0.9rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #d4af37; 
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid rgba(255, 255, 255, 0.2);
  padding-top: 1.5rem;
  /* margin-top: 2rem; */
  flex-wrap: wrap;
}

.footer-lang p {
  font-size: 0.85rem;
  color: #bfbfbf;
}

.footer-social {
  display: flex;
  gap: 1.5rem;
  font-size: 1.3rem;
}

.footer-social svg {
  color: #fff;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.footer-social svg:hover {
  color: #d4af37;
  transform: scale(1.2);
}

.footer-legal {
  margin-top: 2rem;
  font-size: 0.75rem;
  color: #bfbfbf;
  text-align: center;
  max-width: 900px;
  line-height: 1.5;
  border-top: 0.5px solid rgba(255, 255, 255, 0.2);
  padding-top: 1.5rem;
}

@media (max-width: 768px) {
  .footer {
    padding: 3rem 2rem;
  }

  .footer-links {
    grid-template-columns: 1fr 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}
